
 .center{

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction:column ;

 }
 .semaforos{
     margin: 20px 0;

 }
 .semaforos img{
     display: none;

 }
 .semaforos img:nth-child(1){
     display: block;
 }

 

